gateway_ip: 192.168.1.1
username: 'MyUserName'
password: 'MyPassword'
napt_entries:
  - target_protocol: 6 # 6 = TCP, 17 = UDP
    wan_port: 1234
    lan_ipv4_ddress: 192.168.1.23
    lan_port: 1234
  - target_protocol: 17
    wan_port: 12345
    lan_ipv4_ddress: 192.168.1.23
    lan_port: 12345
